extends ../layouts/master

block content
	h1 Edit Recipe
	div.container
		form(action='/update' method='post')
			input(type='hidden', value=userId, name='id')
			input(type='hidden', value=recipe._id, name='_id')
			div.form-group
				label(for='title') Title
				input.form-control(type='text', id='title', name='title', value=recipe.title)
			div.form-group
				label(for='rating') Rating
				input.form-control(type='text', id='rating', name='rating', value=recipe.rating, size=1)
			div.form-group
				label(for='description') Description
				textarea.form-control(rows='3', name='description', id='description')=recipe.description
			div.form-group
				label(for='description') Ingredients
				textarea.form-control(rows='3', name='ingredients', id='ingredients')=ingrs
			button.btn.btn-success(type='submit') Save



